<div class="container-fluid page">
    <div class="d-flex page__box p-3 mt-2">
        <input type='text' placeholder="Enter Name to search" style="width: 500px; height: 50px; font-size: 25px;" [(ngModel)]='listFilter' />
    </div>
    <div class="page__content shadow p-3 position-relative">
        <div class="page__content-data position-relative text-center">
            <!--DashBoard Content Goes Here-->
            <div class="card">
                <div class="card-header text-center">
                    <button mat-raised-button color="primary" (click)="openDialog()" style="height: 50px">Add Product</button> 
                    <!--<button mat-raised-button (click)="openDialog()" style="position: absolute; right: 0; width: 150px; padding: 16px; font-size: 20px;">Add Product</button>-->
                 </div>
                 <div class="card-body">
                    <table class="table table-bordered mt-3">
                        <thead>
                            <tr>
                                <th (click)= "sort('id')" scope="col">Product ID&nbsp;<i class="fa fa-sort"></i></th>
                                <th (click)= "sort('id')" scope="col">Name&nbsp;<i class="fa fa-sort"></i></th>
                                <th scope="col">Price</th>
                                <th scope="col">Description</th>
                                <th scope="col">Photo URL</th>
                                <th scope="col">Category</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor = "let product of filteredProducts | orderBy: key: reverse | paginate: {itemsPerPage:5,currentPage:p}">
                                <td>{{product.id}}</td>
                                <td>{{product.name}}</td>
                                <td>{{product.price}}</td>
                                <td>{{product.description}}</td>
                                <td>{{product.photo}}</td>
                                <!--<img src="{{product.photo}}" alt="Image" width="60px">-->
                                <td>{{product.category}}</td>
                                
                                <td>
                                    <button mat-raised-button color="primary" (click)="updateDetails(product)">Edit</button>&nbsp;
                                    <button mat-raised-button color="warn" (click)="deleteDetails(product)">Delete</button>
                                </td>
                            </tr>
                        </tbody> 
                    </table>
                    <div style="font-size: 20px;" *ngIf="filteredProducts.length!=0">
                        <pagination-controls (pageChange) = "p = $event"></pagination-controls>
                    </div>
                    <div *ngIf="filteredProducts.length==0">
                        <div class="text-center">
                            <img src="../../assets/logo.svg"
                                 class="img-responsive center-block"
                                 style="max-height:300px;padding-bottom:50px" />
                          </div>
                    </div>
    
                 </div>
            </div>
        </div>
    </div>
</div>
