<h1 mat-dialog-title>{{title}} new product</h1>
<div mat-dialog-content>

  <form [formGroup]="formValue">
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Name<span>*</span></label>
      <input type="text" formControlName="name" placeholder="name" class="form-control" id="exampleInputPassword1">
      <small class="text-danger" *ngIf="formValue.get('name').hasError('required')">
        Name is required.
      </small>
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Price<span>*</span></label>
      <input type="text" formControlName="price" placeholder="price" class="form-control" id="exampleInputPassword1">
      <small class="text-danger" *ngIf="formValue.get('price').hasError('required')">
        Price is required in Rupees.
      </small>
      <small class="text-danger" *ngIf="formValue.get('price').hasError('pattern')">
        Format is not valid in Rupees.
      </small>
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Description</label>
      <textarea formControlName="description" class="form-control" id="exampleInputPassword1"></textarea>
      <small class="text-danger"
      *ngIf="formValue.get('description').hasError('minlength')">
      The minimum length for this field is {{formValue.get('description').errors.minlength.requiredLength}} characters.
      </small>
      <small class="text-danger"
      *ngIf="formValue.get('description').hasError('maxlength')">
      The maximum length for this field is {{formValue.get('description').errors.maxlength.requiredLength}} characters.
  </small>
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Photo URL</label>
      <input formControlName="photo" placeholder="photo URL" class="form-control" id="exampleInputPassword1">
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Category<span>*</span></label>
      <!--<input type="text" formControlName="category" class="form-control" id="exampleInputPassword1">-->
      <select formControlName="category" class="form-control" id="exampleInputPassword1">
        <option value="" disabled>Select Categories</option>
        <option value="groceries">Groceries</option>
        <option value="clothes">Clothes</option>
        <option value="gadgets">Gadgets</option>
      </select>
      <small class="text-danger" *ngIf="formValue.get('category').hasError('required')">
        Category is required.
      </small>
    </div>

  </form>

</div>
<div mat-dialog-actions *ngIf=isAdd>
  <button mat-button color="accent" (click)="close()">CLOSE</button>
  <button mat-raised-button color="primary" (click)="postProductDetails()" cdkFocusInitial [disabled]="!formValue.valid">ADD</button>
</div>
<div mat-dialog-actions *ngIf=!isAdd>
  <button mat-button color="accent" (click)="close()">CLOSE</button>
  <button mat-raised-button color="primary" (click)="updateDetailsForm()" cdkFocusInitial [disabled]="!formValue.valid">Update</button>
</div>