<div class="container-fluid page">
 <div class="d-flex page__box p-3 mt-2">{{pageTitle}} Admin!</div>
 <div class="page__content shadow p-3 position-relative">
        <div class="card">
                <div class="card-header text-center">
                   Enrich your shopping list wisely :)
                </div>
                <div class="card-body">
                  <div class="container-fluid">
                    <div class="text-center">
                      <img src="../../assets/logo.svg"
                           class="img-responsive center-block"
                           style="max-height:300px;padding-bottom:50px" />
                    </div>
              
                    <div class="text-center">Developed by:</div>
                    <div class="text-center">
                      <h3>Deeya Upadhyay</h3>
                    </div>
                    <div class="text-center">
                      <a href="">www.thinkBridge.com</a>
                    </div>
                  </div>
                </div>
              </div>              
 </div>
</div>
